modules = ["nodejs-20", "web", "postgresql-16", "java-17", "java-21"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["maven"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "tesr1"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "tesr1"
mode = "sequential"
author = 39768454

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean package "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java)))) && java -jar /home/runner/workspace/target/eco-guardian-spring-1.0.0.jar"
